@model IQueryable<AttendanceTracking.Models.Student>

@{
    ViewData["Title"] = "Electronic Journal";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name = "viewport" content="width-device-width" />
        <title>Электронный журнал</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="panel-text-table">
            <h2>Журнал учета посещаемости студентов</h2>
            <a asp-controller="Home" asp-action="StudentsEdit">Добавить</a>
            @foreach (Student entity in Model) {
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Имя</th>
                            <th>Группа</th>
                            <th>Посещаемость</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@entity.Id</td>
                            <td>@entity.Name</td>
                            <td>@entity.Group</td>
                            <td>@entity.Attendance</td>
                        </tr>
                </tbody>
            </table>
            <a asp-controller="Home" asp-action="StudentsEdit" asp-route-id="@entity.Id">редактировать</a>

            <form method="post" asp-controller="Home" asp-action="StudentsDelete">
                <input type="hidden" name="Id" value="@entity.Id"/>
                <input type="submit" value="удалить"/>
            </form>
            }
        </div>
    </body>
</html>